[*.{cs,vb}]

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = never

# CS0618: Type or member is obsolete
dotnet_diagnostic.CS0618.severity = none

# IDE0002: Simplify Member Access
dotnet_diagnostic.IDE0002.severity = none

# Harmony003: Harmony non-ref patch parameters modified
dotnet_diagnostic.Harmony003.severity = none
